.theme-bg-container{
  margin: 0 auto;
  max-height: 500px;
  position: relative;
  overflow: hidden;
}
.theme-bg-container .theme-wrapper{
  position: relative;
}
.theme-bg-container .theme-wrapper .theme-slide{
  width: 750px;
}
.theme-bg-container .theme-wrapper .theme-slide .theme-img{
  height: 100%;
  width: 100%;
}
.theme-bg-container .theme-wrapper .theme-slide .theme-name{
  font-size: 30px;
  color: white;
  text-align: right;
  position: absolute;
  bottom: 200px;
  left: 20px;
}
.theme-bg-container .theme-wrapper .theme-slide .theme-description{
  font-size: 17px;
  color: white;
  text-align: right;
  position: absolute;
  bottom: 152px;
  left: 20px;
}

.editors {
  height: 45px;
  width: 100%;
}
.editors span{
  line-height:45px;
  height: 45px;
  width: 60px;
  display: inline-block;
}
.editors ul{
  list-style: none;
  height: 45px;
}
.editors ul li{
  float: left;
  height: 40px;
  width: 40px;
  margin-left: 10px;

}
.editors ul li img{
  border-radius: 30px;
  height: 40px;
  width: 40px;
}
.swiper-container {
  max-height: 500px;
}
.swiper-container .swiper-wrapper {
  position: relative;
}
.swiper-container .swiper-wrapper p {
  display: block;
  padding: 30px 20px;
  height: 20%;
  width: 100%;
  position: absolute;
  font-size: 30px;
  color: white;
  text-align: center;
  left: 0;
  bottom: 230px;
  text-shadow: 5px 5px 5px black;
}
.swiper-container .swiper-wrapper img {
  height: 100%;
  width: 100%;
}
.navbar-custom {
  background-color: #0088cc;
  border-color: #0072ab;
}
.navbar-custom .navbar-brand {
  color: #ffffff;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #e6e6e6;
  background-color: transparent;
}
.navbar-custom .navbar-text {
  color: #ffffff;
}
.navbar-custom .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #0072ab;
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-custom .navbar-toggle {
  border-color: #dddddd;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #ffffff;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #0070a8;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  background-color: #0072ab;
  color: #ffffff;
}
.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.navbar-custom .navbar-nav > .dropdown > a .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
@media (max-width: 767px) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: transparent;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #0072ab;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-custom .navbar-link {
  color: #ffffff;
}
.navbar-custom .navbar-link:hover {
  color: #ffffff;
}
.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
  z-index: 2;
  color: #fff;
  background-color: #0088cc;
  border-color: #0088cc;
}
.btn-primary {
  color: #fff;
  background-color: #0088cc;
  border-color: #0088cc;
}
.pagination {
  position: absolute;
  z-index: 20;
  bottom: 10px;
  width: 100%;
  text-align: center;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #555;
  margin: 0 5px;
  opacity: 0.8;
  border: 1px solid #fff;
  cursor: pointer;
}
.swiper-active-switch {
  background: #fff;
}
/*# sourceMappingURL=default.css.map */
