

			<div class="banner row row-offcanvas row-offcanvas-right">

				<div class="col-xs-12 col-sm-8 col-sm-offset-2">

					<div class="swiper-container">
						<p class="pull-right visible-xs">
							<button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">更多主题</button>
						</p>
						<div class="swiper-wrapper">
							<div class="swiper-slide"><img src="img/0e353d065624be47b49f602e5afdfe55.jpg" /><span>Title1</span></div>
							<div class="swiper-slide"><img src="img/18f9bed66ff0f8226894b5f71e94664c.jpg" /><span>Title2</span></div>
							<div class="swiper-slide"><img src="img/ab8e0c9b52a24d98585b6e86f6a8a1ca.jpg" /><span>Title3</span></div>
							<div class="swiper-slide"><img src="img/cda6b3006199bdb286b37bc1324a4807.jpg" /><span>Title4</span></div>
						</div>
						<div class="pagination"></div>
					</div>
					<!--/.col-xs-12.col-sm-9-->
					<div class="context col-xs-12 col-sm-12 ">
						<!--<div ng-repeat="story in stories" class="row">
							<div class="item text-center">
								<p class="title">{{story.title}}</p>
								<div class="imgdiv"><img src="{{story.images[0]}}"  /></div>
							</div>
						</div>-->
						<div class="row">
							<div class="item text-center">
								<p class="title">数字不但会说谎，有时还会让人含冤入狱</p>
								<div class="imgdiv"><img src="http://pic1.zhimg.com/9715e792a66cfcdd8b44ec3e92c0b704.jpg" /></div>
							</div>
						</div>

						
						
						<div class="row h6"></div>
					</div>
					
					

					<!--/.sidebar-offcanvas-->
				</div>
				<!--/row-->

				<footer>

				</footer>

	</div>
